body {
	margin: 0;
	padding: 0;
	background-color: #020223;
	color: #fff;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	margin-top: 4rem;
	color: #fff;
	text-align: center;
}

.panel {
	background-color: #c0a0ef;
	margin-bottom: 4rem;
	color: black;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #4820b7;
    color: white;

}

.panel > .panel-footer {
    background-image: none;
    background-color: #4820b7;
    color: white;
}

.watch-later-list {
	background-color: #fff;
}