<style>
	.footer {
	  	position: fixed;
	  	bottom: 0;
	  	background-color: #000;
	  	color: #fff;
	  	width: 100%;
	  	text-align: center;
	  	height: 2.5rem
	  	font-size: 1.5rem;
	}
</style>
<div class="footer">
	<p>You are awed by {{ author }}'s design </p>
</div>
