<style>
	.nav {
		background-color: #000;
		color: #fff;
		height: 5rem;
		text-align: center;
		line-height: 5rem;
		font-size: 3rem;
	}
</style>

<nav>
  <div class="nav">
    <span class="header-text">Hello Humans</span>
  </div>
</nav>