{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <title>
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<style>
    body {
      background-color: #2f333a;
      color: #fff;
      font-family: 'PT Sans', sans-serif;
    }

    h1 {
      font-size: 10rem;
    }

    h2 {
      text-align: center;
      margin: 6rem;
    }

    .navbar {
      background-color: #e1e5ed;
    }

    .extra {
      margin-bottom: 8rem;
    }

    .photo-profile {
      float: left;
      margin: 6rem;
      width: 15rem;
      border-radius: 50%;
    }

    .extra p {
      clear: right;
      padding-top: 4rem;
      font-size: 5rem;
      line-height: 9rem;
    }

    footer p{
      text-align: right;
      margin-top: 10vh;
      margin-right: 2vw;
      font-size: 2rem;

    }

    td {
      font-weight: bold;
      color: #2f333a;
    }

</style>

<body>
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
