body {
	margin: 0;
	padding: 0;
	background-color: #020223;
	color: #fff;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	margin-top: 4rem;
	line-height: 4rem;

}

.rata-tengah {
    text-align: center;
    margin : 20px;
}

.judul {
    text-transform:uppercase;
    margin-bottom: 50px;
    margin-top: 50px;
}

.login {
	position: relative;
	top: 40%;
	transform: translateY(40%);
	margin-bottom: 22rem;
	background-color: #3b6a7a;
}

.text-info {
	color: #000;
}

.head {
	overflow: hidden;
	clear: both;
}

.head h1 {
	text-align: center;
}

.head a {
	float: right;
	position: relative;
	top: -4rem;
	right: 12rem;
}


.submit-button {
	background-color: #000;
	border: 1px solid #1b1c1c;
}

input {
	color: #000;
}

.panel {
	background-color: #662c51;
	margin-bottom: 4rem;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #4820b7;
    color: white;

}

.panel > .panel-footer {
    background-image: none;
    background-color: #4820b7;
    color: white;
}