html, body {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	height: 4rem;
	font-size: 3rem;

}

body {

}

footer {
	position: relative;
	bottom: 0;
	text-align: center;
	height: 4rem;
	font-size: 2rem;

}