html, body {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	height: 4rem;
	font-size: 3rem;
	margin-bottom: 4rem;
}

body {

}

footer {
	position: relative;
	bottom: 0;
	height: 4rem;
	font-size: 2rem;
	width: 100%;
	text-align: center;
	margin-top: 4rem;
}

.profile {
	text-align: center;
	margin-bottom: 4rem;
}