html, body {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 4rem;
	background-color: #3b5998;
	color: #fff;
	padding: 1rem 0;
}

footer {
	position: relative;
	bottom: 0;
	height: 4rem;
	font-size: 1.5rem;
	width: 100%;
	text-align: center;
	margin-top: 4rem;
	background-color: #f7f7f7;
	vertical-align: middle;
}

button {
	background-color: #3b5998;
	color: #fff;
	border: 0.2px solid black;
}

.cover {
	width: 100%;
}

.picture {
	margin-top: 2rem;
}

.buttons {
	text-align: center;
	margin-bottom: 4rem;
}

.feed {
	padding: 10px 20px;
	border: 0.3px solid black;
	position: relative;
	margin-top: 4rem;
}

.profile {
	text-align: center;
	margin-bottom: 4rem;
}

.msg {
	font-size: 20px;
}

.story {
	font-size: 15px;
}

.feed-1, .feed-2{
	background-color: #8b9dc3;
}

.feed-3 {
	background-color: #dfe3ee;
}

@media only screen and (max-width: 768px) {
	header {
		font-size: 130%;
	}

	.cover {
		width: 100%;
	}

	.picture {
		width: 30%;
	}

	.data h1, .data h2, .data h3 {
		font-size: 130%;
	}

}