body {
	margin: 0;
	padding: 0;
}

footer {

}

.rata-tengah {
    text-align: center;
    margin : 20px;
}

.judul {
    text-transform:uppercase;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 80%;
}