{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
</style>
<div class="center_screen">
    <h2 class="status" id="test">Hello, this is {{ name }}. {{ content }}.</h2>
</div>
{% endblock %}
